nav.navbar {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    border: none;
    padding: 0;
    background-color: transparent;
}

.navbar-toggler-icon {
    color: #323232;
}

.navbar-brand img {
    width: 40px;
    height: auto;
}

#resto {
    margin-left: -24px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
